<h1>Runners Log</h1>

<p>Welcome to runner's log. You can use it to:</p>
<ul>
  <li>Log your runs</li>
  <li>View statistics of your runs</li>
</ul>

<div class="links">
  <%= link_to "Go to Runs", runs_path -%>
</div>
